

.main .perma-work-preview .post figure img {
    display: none;
}

/* Image map styles */
.imageMap {width:100%; position:relative; margin:0;}
.imageMap img {display:block; width:100%;}
.imageMap a {display:block; position:absolute; z-index:1; opacity:0.2; filter: alpha(opacity=20);}

/* Hotspot Position*/
.imageMap a.p1 {left:2%; top:80%; width:30%; height:17%;border-radius: 40%;}/*Devon*/
.imageMap a.p2 {left:30%; top:75%; width:15%; height:10%;border-radius: 50%;}/*Avon*******/
.imageMap a.p3 {left:35%; top:84%; width:17%; height:6%;border-radius: 50%;}/*Dorset*/
.imageMap a.p4 {left:45%; top:73%; width:9%; height:11%;border-radius: 30%;}
.imageMap a.p5 {left:53%; top:78%; width:12%; height:12%;border-radius: 20%;}
.imageMap a.p6 {left:64%; top:81%; width:22%; height:5%;border-radius: 50%;}
.imageMap a.p7 {left:65%; top:77%; width:12%; height:5%;border-radius: 40%;}/*Surrey*/
.imageMap a.p8 {left:78%; top:76%; width:18%; height:6%;border-radius: 30%;}/*Kent*/
.imageMap a.p9 {left:78%; top:66%; width:15%; height:9%;border-radius: 20%;}/*Essex*/
.imageMap a.p10 {left:68%; top:67%; width:10%; height:6%;border-radius: 50%;}/*Hertfordshire*/
.imageMap a.p11 {left:67%; top:62%; width:6%; height:8%;border-radius: 40%;}/*Bedfordshire********/
.imageMap a.p12 {left:54%; top:67%; width:14%; height:10%;border-radius: 30%;}/*Thames Valley*/
.imageMap a.p13 {left:40%; top:66%; width:14%; height:8%;border-radius: 50%;}/*Gloucestershire*/
.imageMap a.p14 {left:31%; top:68%; width:9%; height:7%;border-radius: 50%;}/*Gwent*/
.imageMap a.p15 {left:20%; top:70%; width:13%; height:8%;border-radius: 50%;}/*S.Wales*/
.imageMap a.p16 {left:8%; top:56%; width:26%; height:14%;border-radius: 20%;}/*Dyfed*/
.imageMap a.p17 {left:34%; top:55%; width:14%; height:12%;border-radius: 50%;}/*WestMercia*/
.imageMap a.p18 {left:47%; top:57%; width:8%; height:4%;border-radius: 50%;}/*WestMidlands*/
.imageMap a.p19 {left:50%; top:61%; width:9%; height:5%;border-radius: 40%;}/*Warwickshire*/
.imageMap a.p20 {left:55%; top:54%; width:13%; height:5%;border-radius: 50%;}/*Leices*/
.imageMap a.p21 {left:59%; top:58.5%; width:9.5%; height:7.5%;border-radius: 20%;}/*Northam*/
.imageMap a.p22 {left:70%; top:56%; width:11%; height:8%;border-radius: 50%;}/*Cam*/
.imageMap a.p23 {left:83%; top:60%; width:15%; height:6%;border-radius: 20%;}
.imageMap a.p24 {left:79%; top:51%; width:20%; height:9%;border-radius: 50%;}
.imageMap a.p25 {left:65%; top:42%; width:14%; height:14%;border-radius: 50%;}/*Linc*/
.imageMap a.p26 {left:57%; top:44%; width:8%; height:10%;border-radius: 50%;}/*Nottinghamshire*/
.imageMap a.p27 {left:50%; top:45%; width:9%; height:5%;border-radius: 0;}/*Derbyshire*/
.imageMap a.p28 {left:43%; top:49%; width:11%; height:8%;border-radius: 50%;}/*Staffordshirew*/
.imageMap a.p29 {left:36%; top:44%; width:12%; height:7%;border-radius: 50%;}/*Cheshire*/
.imageMap a.p30 {left:15%; top:46%; width:22%; height:8%;border-radius: 40%;}/*N.Wales*/
.imageMap a.p31 {left:30%; top:42%; width:10%; height:4%;border-radius: 50%;}/*M.side*/
.imageMap a.p32 {left:40%; top:40%; width:10%; height:5%;border-radius: 400%;}/*G.Man*/
.imageMap a.p33 {left:51%; top:41%; width:12%; height:4.5%;border-radius: 50%;}/*S.York*/
.imageMap a.p34 {left:62%; top:32.5%; width:13%; height:10%;border-radius: 50%;}/*Humberside*/
.imageMap a.p35 {left:45%; top:27%; width:22%; height:8%;border-radius: 50%;}/*N.York*/
.imageMap a.p36 {left:48%; top:36%; width:11%; height:5.5%;border-radius: 40%;}/*W.York*/
.imageMap a.p37 {left:35%; top:33%; width:13%; height:8%;border-radius: 50%;}/*Lanc*/
.imageMap a.p38 {left:28%; top:20%; width:18%; height:12%;border-radius: 50%;}/*Cumbria*/
.imageMap a.p39 {left:45%; top:21%; width:12%; height:6%;border-radius: 40%;}/*Durham*/
.imageMap a.p40 {left:56%; top:23%; width:8%; height:4.5%;border-radius: 50%;}/*Cleveland*/
.imageMap a.p41 {left:42%; top:9%; width:14%; height:12%;border-radius: 30%;}/*Northumbria*/
.imageMap a + p {position:absolute; color:#000; display:none;z-index:3;}
.imageMap:hover .hotspots {visibility:visible;}
.imageMap .hotspots div:hover p {display:block;}
.imageMap .hotspots div:hover a {background:#fff; z-index:100; opacity:0; filter: alpha(opacity=0);}


/* Table Position */
.imageMap a.p1 + p{left:30%; top:55%; width:25%;}/*Devon*/
.imageMap a.p2 + p{left:35%; top:52%; width:25%;}/*Avon******************/
.imageMap a.p3 + p{left:52%; top:65%; width:25%;}/*Dorset*/
.imageMap a.p4 + p{left:20%; top:50%; width:25%;}/*Wilt*/
.imageMap a.p5 + p{left:27%; top:52%; width:25%;}/*Hampshire*/
.imageMap a.p6 + p{left:45%; top:40%; width:25%;}/*Sussex****************/
.imageMap a.p7 + p{left:40%; top:40%; width:25%;}/*Surrey*/
.imageMap a.p8 + p{left:53%; top:42%; width:25%;}/*Kent*/
.imageMap a.p9 + p{left:48%; top:40%; width:25%;}/*Essex*/
.imageMap a.p10 + p{left:44%; top:50%; width:25%;}/*Hert*/
.imageMap a.p11 + p{left:35%; top:40%; width:25%;}/*Bedfordshire**********/
.imageMap a.p12 + p{left:40%; top:62%; width:25%;}/*Thames Valley*/
.imageMap a.p13 + p{left:55%; top:50%; width:25%;}/*Gloucestershire*/
.imageMap a.p14 + p{left:5%; top:40%; width:25%;}/*Gwent*/
.imageMap a.p15 + p{left:35%; top:52%; width:25%;}/*S.Wales*/
.imageMap a.p16 + p{left:36%; top:40%; width:25%;}/*Dyfed*/
.imageMap a.p17 + p{left:49%; top:40%; width:25%;}/*WestMercia*/
.imageMap a.p18 + p{left:55%; top:52%; width:25%;}/*WestMidlands*/
.imageMap a.p19 + p{left:60%; top:40%; width:25%;}/*Warwickshire*/
.imageMap a.p20 + p{left:30%; top:40%; width:25%;}/*Leices*/
.imageMap a.p21 + p{left:33%; top:50%; width:25%;}/*Northam*/
.imageMap a.p22 + p{left:40%; top:45%; width:25%;}/*Cam*/
.imageMap a.p23 + p{left:45%; top:40%; width:25%;}/*Suffolk*/
.imageMap a.p24 + p{left:5%; top:40%; width:25%;}/*Norfolk*******************/
.imageMap a.p25 + p{left:35%; top:28%; width:25%;}/*Linc*/
.imageMap a.p26 + p{left:32%; top:30%; width:25%;}/*Nottinghamshire*/
.imageMap a.p27 + p{left:24%; top:30%; width:25%;}/*Derbyshire*/
.imageMap a.p28 + p{left:18%; top:22%; width:25%;}/*Staffordshirew*/
.imageMap a.p29 + p{left:48%; top:20%; width:25%;}/*Cheshire*/
.imageMap a.p30 + p{left:38%; top:20%; width:25%;}/*N.Wales*/
.imageMap a.p31 + p{left:40%; top:35%; width:25%;}/*M.side*/
.imageMap a.p32 + p{left:45%; top:42%; width:50%;}/*G.Man*/
.imageMap a.p33 + p{left:2%; top:25%; width:50%;}/*S.York*/
.imageMap a.p34 + p{left:15%; top:20%; width:50%;}/*Humberside*/
.imageMap a.p35 + p{left:35%; top:32%; width:25%;}/*N.York*/
.imageMap a.p36 + p{left:45%; top:40%; width:50%;}/*W.York*/
.imageMap a.p37 + p{left:5%; top:40%; width:50%;}/*Lanc*/
.imageMap a.p38 + p{left:35%; top:29%; width:25%;}/*Cumbria*/
.imageMap a.p39 + p{left:45%; top:25%; width:25%;}/*Durham*/
.imageMap a.p40 + p{left:45%; top:26%; width:25%;}/*Cleveland*/
.imageMap a.p41 + p{left:45%; top:20%; width:25%;}/*Northumbria*/


#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}
#popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 200px;
  height: 200px;
  margin-left: -100px; /*Half the value of width to center div*/
  margin-top: -100px; /*Half the value of height to center div*/
  z-index: 200;
}
#popupclose {
  float: right;
  padding: 10px;
  cursor: pointer;
}
.popupcontent {
  padding: 10px;
}
#button {
  cursor: pointer;
  position: absolute;
  border:0;
}

button.card-hide:focus {outline:0;}

.card-hide{
color:white;
border:none;
display:block;
padding:0px;
font-size:18px;
font-weight:bold;
text-align:center;
background:none;
margin:0;
}

.card-hide span {
display:none;
padding:5px;
background:black;
width:10%;
float:right;
font-weight:normal;
}



/* Table Position */
.imageMap a.p1 + p{width:30%;}/*Devon*/
.imageMap a.p2 + p{width:30%;}/*Avon******************/
.imageMap a.p3 + p{width:30%;}/*Dorset*/
.imageMap a.p4 + p{width:30%;}/*Wilt*/
.imageMap a.p5 + p{width:30%;}/*Hampshire*/
.imageMap a.p6 + p{width:30%;}/*Sussex****************/
.imageMap a.p7 + p{width:30%;}/*Surrey*/
.imageMap a.p8 + p{width:30%;}/*Kent*/
.imageMap a.p9 + p{width:30%;}/*Essex*/
.imageMap a.p10 + p{width:30%;}/*Hert*/
.imageMap a.p11 + p{width:30%;}/*Bedfordshire**********/
.imageMap a.p12 + p{width:30%;}/*Thames Valley*/
.imageMap a.p13 + p{width:30%;}/*Gloucestershire*/
.imageMap a.p14 + p{width:30%;}/*Gwent*/
.imageMap a.p15 + p{width:30%;}/*S.Wales*/
.imageMap a.p16 + p{width:30%;}/*Dyfed*/
.imageMap a.p17 + p{width:30%;}/*WestMercia*/
.imageMap a.p18 + p{width:30%;}/*WestMidlands*/
.imageMap a.p19 + p{width:30%;}/*Warwickshire*/
.imageMap a.p20 + p{width:30%;}/*Leices*/
.imageMap a.p21 + p{width:30%;}/*Northam*/
.imageMap a.p22 + p{width:30%;}/*Cam*/
.imageMap a.p23 + p{width:30%;}/*Suffolk*/
.imageMap a.p24 + p{width:30%;}/*Norfolk*******************/
.imageMap a.p25 + p{width:30%;}/*Linc*/
.imageMap a.p26 + p{width:30%;}/*Nottinghamshire*/
.imageMap a.p27 + p{width:30%;}/*Derbyshire*/
.imageMap a.p28 + p{width:30%;}/*Staffordshirew*/
.imageMap a.p29 + p{width:30%;}/*Cheshire*/
.imageMap a.p30 + p{width:30%;}/*N.Wales*/
.imageMap a.p31 + p{width:30%;}/*M.side*/
.imageMap a.p32 + p{width:45%;}/*G.Man*/
.imageMap a.p33 + p{width:45%;}/*S.York*/
.imageMap a.p34 + p{width:45%;}/*Humberside*/
.imageMap a.p35 + p{width:30%;}/*N.York*/
.imageMap a.p36 + p{width:45%;}/*W.York*/
.imageMap a.p37 + p{width:45%;}/*Lanc*/
.imageMap a.p38 + p{width:30%;}/*Cumbria*/
.imageMap a.p39 + p{width:30%;}/*Durham*/
.imageMap a.p40 + p{width:30%;}/*Cleveland*/
.imageMap a.p41 + p{width:30%;}/*Northumbria*/

@media screen and (max-width: 480px) {
.imageMap .hotspots div:hover p {display:block;position:absolute; top:0;left:0;margin:0 auto;padding:13% 20%;}
.imageMap a.p1 + p{width:100%;}/*Devon*/
.imageMap a.p2 + p{width:100%;}/*Avon******************/
.imageMap a.p3 + p{width:100%;}/*Dorset*/
.imageMap a.p4 + p{width:100%;}/*Wilt*/
.imageMap a.p5 + p{width:100%;}/*Hampshire*/
.imageMap a.p6 + p{width:100%;}/*Sussex****************/
.imageMap a.p7 + p{width:100%;}/*Surrey*/
.imageMap a.p8 + p{width:100%;}/*Kent*/
.imageMap a.p9 + p{width:100%;}/*Essex*/
.imageMap a.p10 + p{width:100%;}/*Hert*/
.imageMap a.p11 + p{width:100%;}/*Bedfordshire**********/
.imageMap a.p12 + p{width:100%;}/*Thames Valley*/
.imageMap a.p13 + p{width:100%;}/*Gloucestershire*/
.imageMap a.p14 + p{width:100%;}/*Gwent*/
.imageMap a.p15 + p{width:100%;}/*S.Wales*/
.imageMap a.p16 + p{width:100%;}/*Dyfed*/
.imageMap a.p17 + p{width:100%;}/*WestMercia*/
.imageMap a.p18 + p{width:100%;}/*WestMidlands*/
.imageMap a.p19 + p{width:100%;}/*Warwickshire*/
.imageMap a.p20 + p{width:100%;}/*Leices*/
.imageMap a.p21 + p{width:100%;}/*Northam*/
.imageMap a.p22 + p{width:100%;}/*Cam*/
.imageMap a.p23 + p{width:100%;}/*Suffolk*/
.imageMap a.p24 + p{width:100%;}/*Norfolk*******************/
.imageMap a.p25 + p{width:100%;}/*Linc*/
.imageMap a.p26 + p{width:100%;}/*Nottinghamshire*/
.imageMap a.p27 + p{width:100%;}/*Derbyshire*/
.imageMap a.p28 + p{width:100%;}/*Staffordshirew*/
.imageMap a.p29 + p{width:100%;}/*Cheshire*/
.imageMap a.p30 + p{width:100%;}/*N.Wales*/
.imageMap a.p31 + p{width:100%;}/*M.side*/
.imageMap a.p32 + p{width:100%;padding:15% 0 0 0 !important;}/*G.Man*/
.imageMap a.p33 + p{width:100%;padding:15% 0 0 0 !important;}/*S.York*/
.imageMap a.p34 + p{width:100%;padding:15% 0 0 0 !important;}/*Humberside*/
.imageMap a.p35 + p{width:100%;}/*N.York*/
.imageMap a.p36 + p{width:100%;padding:15% 0 0 0 !important;}/*W.York*/
.imageMap a.p37 + p{width:100%;padding:15% 0 0 0 !important;}/*Lanc*/
.imageMap a.p38 + p{width:100%;}/*Cumbria*/
.imageMap a.p39 + p{width:100%;}/*Durham*/
.imageMap a.p40 + p{width:100%;}/*Cleveland*/
.imageMap a.p41 + p{width:100%;}/*Northumbria*/
.card-hide span {
display:block;
padding:5px;
background:black;
width:10%;
float:right;
font-weight:normal;
}
}
