@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ovo&display=swap');

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: black;
  transition: all ease-out 300ms;
}
a:hover {
  opacity: 0.6;
  border-bottom: 1px dotted;
  text-decoration: none;
  cursor: pointer;
}

section {
  display: block;
  float: left;
width: 100%;
}

section > h2{
 font-weight: 800;
  font-size:40px;
}


section > h3{
  font-family: "Lora", serif;
  font-weight: 400;
  font-size:30px;
  padding:10px 0;
  letter-spacing: 1px;
}

figure {
  width: 100%;
}
figure img {
  width: 100%;
  background: black;
}

nav {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, rgba(82, 81, 81, 0.8), rgba(0, 0, 0, 0.9));
  color: #FFF;
  height: 50px;
  padding: 30px 15px;
}
nav a img {
  width: 40px;
  margin-top: 12px;
}
nav a h1 {
  float: right;
  text-transform: uppercase;
  margin: 12px 12px 12px 12px;
  font-size: 20px;
  color: white;
  text-align: left;
  font-weight: 400;
  line-height: 1;
}
nav a h1 span {
  display: block;
  font-weight: 100;
  text-transform: none;
  font-size: 12px;
  margin-top: 4px;
}
nav a:hover {
  border: none;
}
nav ul.menu {
  list-style-type: none;
}
nav ul.menu li a {
  transition: all ease-out 250ms;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 10px;
  color: white;
}
nav ul.menu li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: transform 0.25s ease-out;
}
nav ul.menu li a:hover:after {
  transform: scaleX(1);
}
nav ul.menu li a:hover {
  color: white;
}
nav ul.menu li a.active {
  color: white;
  position: relative;
  padding: 10px;
}
nav ul.menu li a.active:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: transform 0.25s ease-out;
}
nav .menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav #menu-toggle {
  display: none;
}
nav .menu-button,
nav .menu-button::before,
nav .menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
nav .menu-button::before {
  content: "";
  margin-top: -8px;
}
nav .menu-button::after {
  content: "";
  margin-top: 8px;
}
nav #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
nav #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(45deg);
}
nav #menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-45deg);
}

@media (max-width: 600px) {
  nav .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    width: calc(100% + 40px);
    margin-left: -40px;
  }
  nav .menu > li {
    text-align: center;
    margin: 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  nav .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  nav .menu-button-container {
    display: flex;
  }
  nav #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 100ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  nav #menu-toggle ~ .menu li a {
    opacity: 0;
    padding: 5vh 0;
  }
  nav #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 100vh;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
  }
  nav #menu-toggle:checked ~ .menu li a {
    opacity: 1;
    display: block;
  }
}
article header {
  text-align: center;
  background-attachment: scroll;
  background-image: url(../img/header.jpg);
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  -o-background-size: cover;
  min-height: 150px;
  max-height: 400px;
  background-color: black;
}
article header h2 {
  padding-top: 300px;
  padding-bottom: 200px;
  margin: 0;
  font-weight: normal;
  font-style: italic;
  color: #cccccc;
}

@media (max-width: 600px) {
  article header {
    max-height: 100vh;
    height: 100vh;
  }
  article header h2 {
    padding: 40vh 5px 0 5px;
  }
  article header h2 span {
    display: block;
  }
}

#work {
  padding-top: 80px;
  margin: 0 auto;
}


#work > h3{
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-size:30px;
  padding:10px 0;
  letter-spacing: 1px;
}
#work .item {
  display: block;
  cursor: pointer;
  float: left;
  width: 25%;
}
#work .item img {
  width: 100%;
  background: black;
}
#work .item .overlay {
  position: absolute;
  width: 25%;
  height: 85%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: all ease 0.5s;
}
#work .item .overlay h3 {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
#work .item:hover .overlay {
  opacity: 1;
}
#work .item:hover .overlay h2 {
  opacity: 1;
  margin-top: 8px;
}

.grid {
  position: relative;
  margin: 40px auto 0 auto;
  list-style: none;
  text-align: center;
    max-width: 1700px;
    float:left;
}
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  width: 31.3%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
  margin: 1%;
  background: #000;
}
.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
  background: black;
}
.grid figure figcaption {
  padding: 1.5vw;
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  position: absolute;
  width: 25%;
  height: 85%;
  opacity: 0;
  transition: all ease 0.8s;
}
.grid figure figcaption::before, .grid figure figcaption::after {
  pointer-events: none;
}
.grid figure figcaption a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.grid figure:hover figcaption {
  opacity: 1;
}
.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.grid figure h2 {
  font-weight: 300;
  margin: 0;
  font-size: 2vw;
}
.grid figure p {
  letter-spacing: 1px;
  font-size: 1vw;
  margin: 0;
}
.grid figure .tag {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 25%;
}
.grid figure .tag img {
  background: none;
  filter: grayscale(0.4);
}
.grid figure:hover h2,
.grid figure:hover p {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.grid figure:hover figcaption::before, .grid figure:hover figcaption::after {
  opacity: 1;
  transform: scale(1);
}
.grid figure img {
  opacity: 1;
  transition: opacity 0.3s;
  background: black;
}
.grid figure:hover img {
  opacity: 0.3;
}
.grid figure figcaption::before, .grid figure figcaption::after {
  position: absolute;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  content: "";
  opacity: 0;
  transition: opacity 0.7s, transform 0.7s;
}
.grid figure figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: scale(0, 1);
}
.grid figure figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: scale(1, 0);
}
.grid figure h2 {
  padding: 25% 4% 0 4%;
  transition: all 300ms ease-in;
  transform: translate3d(0, -20px, 0);
}
.grid figure p {
  padding: 20px 2.5em;
  opacity: 0;
  transition: all 300ms ease-in;
  transform: translate3d(0, 20px, 0);
}

/* Read more */
.readmore-state {
  display: none;
}
.readmore-state:checked ~ .readmore-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
  transition: all 200ms ease-in;
}
.readmore-state:checked ~ .readmore-target figure img {
  height: auto;
  background: black;
}
.readmore-state:checked ~ .readmore-trigger:before {
  content: "Show less";
}
.readmore-state ~ .readmore-trigger:before {
  content: "More projects";
}
.readmore-state ~ label.readmore-trigger {
  margin: 5em 0 6em 0;
  display: inline-block;
  border: 1px solid black;
  width: 10em;
  text-align: center;
  font-size:20px;
  letter-spacing: 1px;
}

.readmore-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
}
.readmore-target figure img {
  height: 0;
  background: black;
}

.readmore-trigger {
  cursor: pointer;
  display: inline-block;
  text-align: right;
  margin-right: 2em;
  color: #777;
  padding: 1em;
  font-size: 0.8em;
  right: 10%;
}
.readmore-trigger:hover {
  background-color: black;
  color: white;
  transition: all 100ms ease-in;
}

#orgs {
  padding: 30px 0;
  margin: 0 auto;
}
#orgs div{
  position: relative;
margin: 0 auto;
text-align: center;
max-width: 1700px;
}

#orgs > h3{
  font-family: "Lora", serif;
  font-weight: 400;
  font-size:30px;
  padding:10px 0;
  letter-spacing: 1px;
}

#orgs img{
  width:10%;
  vertical-align: middle;
  margin:0 1%;
}



#about {
  /**background-attachment: scroll;
  background-image: url(../img/about.jpg);
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  -o-background-size: cover;**/
  background:rgba(0,0,0,0.05);
  padding: 100px 0;
}


#about p {
  text-align: justify;
  width: 80%;
  margin: 20px auto;
  line-height: 2;
}

@media (max-width: 600px) {

#mini-about {
  font-size:20px;
}

#mini-about p {
  text-align: center;
  width: 90%;
  line-height: 2.8;
      padding:15vw 0;
  }

#mini-about p strong{
  font-size:38px;
  font-weight: 400;
  font-style: normal; 
  line-height: 1.6;
}
}
#contact {
  /**background-attachment: scroll;
  background-image: url(../img/contact.jpg);
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  -o-background-size: cover;**/
  background:rgba(0,0,0,0.95);
  color: white;
  padding: 100px 0;
}

#contact p {
  max-width: 400px;
  margin: 0 auto;
  line-height: 2;
}
#contact p a {
  color: white;
}

#achievements {
  margin-top: 2em;
  padding: 0 33.3%;
}
#achievements figure {
  float: none;
  width: 100%;
}
#achievements figure p {
  text-align: center !important;
}

#project {
  padding: 150px 15%;
  margin: 0 auto;
  background-color: #f7f7f7;
}
#project header em {
  text-align: left;
  display: block;
}
#project header h2 {
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}
#project header h3 {
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
  margin: 5px 0 40px 0;
}

#project header p {
  font-family: "Lora", serif;
  font-weight:800;
  margin: 5px 0 40px 0;
}

#project article {
  max-width: 1200px;
  margin: 80px auto 0 auto;

}
#project article h4 {
  text-align: left;
  font-size: 20px;
  margin: 40px 0 16px 0;
  font-family: "Lora", serif;
  font-weight:800;
  line-height: 1.4;
}
#project article h5 {

}
#project article p {
  text-align: justify;
  margin: 0 0 30px 0;
  line-height: 2;
}
#project article ul, #project article ol {
  text-align: left;
}
#project article figure {
  width: 100%;
  margin: 60px 0;
  padding: 0;
}
#project article figure img {
  width: 100%;
  background: black;
}
#project article figure figcaption {
  font-size: 12px;
  background: dimgray;
  color: white;
  padding: 5px 0;
}
#project article figure figcaption a {
  color: white;
}
#project article a button {
  cursor: pointer;
  margin-top: 50px;
  background: black;
  border: 2px solid black;
  text-transform: uppercase;
  font-weight: normal;
  padding: 10px 15px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 20px;
text-decoration: none;
}
#project article a button span {
  font-size: 43px;
  line-height: 0;
}
#project article a button:hover {
  background: white;
  color: black;
}


footer {
  display: block;
  width: 100%;
  float: left;
  padding: 40px 0 10px 0;
  font-size: 12px;
}

footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  text-transform: uppercase;
  margin-left: -40px;
}
footer ul li {
  margin: 0 20px;
}
footer ul li a {
  text-decoration: none;
  color: #666;
  border: none;
}
footer ul li a:hover {
  color: #333;
}
footer p {
  font-size: 11px;
  line-height: 2;
}

@media (max-width: 1200px), (hover: none) {
  .grid figure {
    background: none;
    width: 32.3%;
    margin: 0.5%;
  }
  .grid figure:hover img {
    opacity: 0.7;
    transform: scale(1);
  }
  .grid figure figcaption {
    padding: 12px;
    opacity: 1;
    position: relative;
    transition: none;
    height: 9vw;
  }
  .grid figure h2,
  .grid figure p {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: none;
    color: black;
    padding: 0;
  }
  .grid figure a {
    text-decoration: none;
  }
  .grid figure a:hover {
    font-style: italic;
  }
  .grid figure figcaption::before, .grid figure figcaption::after {
    opacity: 1;
    transform: scale(0);
  }
  .readmore-target figure figcaption {
    height: 0;
    padding: 0;
  }
  .readmore-state {
    display: none;
  }
  .readmore-state:checked ~ .readmore-target figure figcaption {
    height: 9vw;
    padding: 12px;
  }
}

@media (max-width: 800px) {
  #orgs img{
  width:20%;
  margin:0 2%;
  }
}

@media (max-width: 600px) {
  body {
    padding: 0;
  }
  nav {
    width: 100%;
    height: 50px;
    padding: 0 24px 0 24px;
  }
  nav a h1 {
    font-size: 18px;
    margin: 18px 10px 20px 10px;
  }
  nav .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    width: calc(100% + 40px);
    margin-left: -40px;
  }
  nav .menu > li {
    text-align: center;
    margin: 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  nav .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  nav .menu-button-container {
    display: flex;
  }
  nav #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 100ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  nav #menu-toggle ~ .menu li a {
    opacity: 0;
    padding: 5vh 0;
  }
  nav #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 100vh;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
  }
  nav #menu-toggle:checked ~ .menu li a {
    opacity: 1;
    display: block;
    color: white;

  }
  nav #menu-toggle:checked ~ .menu li a:hover {
    background: #444;
  }
  nav #menu-toggle:checked ~ .menu li a:after {
    background-color: white;
  }
  nav #menu-toggle:checked ~ .menu li a.active {
    border: 2px solid white;
    border-bottom: 0;
  }
  #about {
    padding: 10vh 0 10vh 0;
  }
  #about p {
    padding: 0 24px 16px 24px;
    width: 95%;

  }
  .grid figure {
    width: 100%;
    margin: 0 0 4px 0;
  }
  .grid figure figcaption {
    height: 25vw;
  }
  .grid figure figcaption h2 {
    font-size: 6vw;
  }
  .grid figure figcaption p {
    font-size: 3vw;
  }
  .grid .readmore-target figure figcaption {
    height: 0;
    padding: 0;
  }
  .grid .readmore-state {
    display: none;
  }
  .grid .readmore-state:checked ~ .readmore-target figure figcaption {
    height: 25vw;
    padding: 12px;
  }

  #achievements {
    padding: 0;
  }
  #project {
    padding: 100px 0;
  }
  #project header h2, #project header h3 {
    padding: 0 2%;
  }
  #project article {
    width: calc(100% + 3px);
    padding: 0 24px;
  }
  #project article h4, #project article p {
    padding: 0;
  }
  article header {
    max-height: 100vh;
    height: 100vh;
  }
  article header h2 {
    padding: 40vh 5px 0 5px;
  }
  article header h2 span {
    display: block;
  }
  footer {
    padding: 40px 24px 10px 24px;
  }
}/*# sourceMappingURL=style.css.map */

@media (max-width: 400px) {
  #orgs img{
  width:30%;
  margin:3% 5%;
  }
}
