@charset "UTF-8";
/*** COLOURS ***/
/*** FONTS ***/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300|Lato:700|Source+Sans+Pro:300|Yantramanav:300&display=swap");
/*** GENERAL ***/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;
}

[hidden] { /* Hidden fallback */
  display: none;
  visibility: hidden;
}

/*** HEADER ***/
header {
  width: 100%;
  float: left;
  z-index: 1;
  margin: 0 auto;
  margin-bottom: 3rem;
  /* end .logo */
  /* Navigation  */
  /* end nav */
  /* Search */
  /* end navigation */
}
header .logo {
  position: relative;
  float: left;
  width: 40%;
  padding: 1.5rem 5%;
}
header .logo a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #191d7e;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
header #nav {
  width: 50%;
  font-size: 0.8rem;
  padding: 0;
  margin-right: 4%;
  float: right;
  z-index: 1;
  /* end ul //first level */
}
header #nav > a {
  display: none;
}
header #nav > ul {
  margin: 0 0 0 -40px;
  width: 100%;
  float: right;
  padding: 1rem 0.5rem;
  /* end li */
}
header #nav > ul > li {
  position: relative;
  float: right;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0;
  font-size: 0.9rem;
  display: inline-block;
  /* end .person-icon */
  /* end a */
  /* end .active */
  /* end ul//second level */
}
header #nav > ul > li.person-icon {
  position: relative;
  /* end :before */
  /* end :after */
  /* end :hover */
}
header #nav > ul > li.person-icon:before {
  content: "";
  background: #3c3c3c;
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  right: 15px;
}
header #nav > ul > li.person-icon:after {
  content: "";
  background: #3c3c3c;
  width: 18px;
  height: 12px;
  position: absolute;
  top: 13px;
  right: 12px;
  border-radius: 50% 50% 0 0;
}
header #nav > ul > li.person-icon:hover:before {
  background: #77af8a;
}
header #nav > ul > li.person-icon:hover:after {
  background: #77af8a;
}
header #nav > ul > li.person-icon ul {
  margin-top: 32px !important;
  display: block;
}
header #nav > ul > li a {
  display: block;
  text-decoration: none;
  color: #222;
  height: 100%;
  font-size: 1rem;
  text-align: center;
  padding: 0 0.1rem;
  border-bottom: 3px solid transparent;
  /* end :hover */
}
header #nav > ul > li a:hover {
  color: #77af8a;
}
header #nav > ul > li.active {
  /* end a */
  /* end .person-icon */
}
header #nav > ul > li.active a {
  color: #191d7e;
  border-bottom: 2px solid #191d7e;
}
header #nav > ul > li.active a:hover {
  color: #77af8a;
  border-bottom: 2px solid #77af8a;
}
header #nav > ul > li.active.person-icon {
  /* end ul li a */
}
header #nav > ul > li.active.person-icon:before {
  background: #191d7e;
}
header #nav > ul > li.active.person-icon:after {
  background: #191d7e;
}
header #nav > ul > li.active.person-icon > ul li a {
  color: #fff;
  border-bottom: 0;
}
header #nav > ul > li > ul {
  position: absolute;
  z-index: 1;
  opacity: 0;
  display: none;
  background: #111353;
  text-align: center;
  margin: 0.5rem -40px 0 0;
  padding: 0;
  /* end li */
  /* end a */
}
header #nav > ul > li > ul > li {
  background: #191d7e;
  padding: 0 1rem;
  margin: 0 0 0 -40px;
  transition: 0.8s ease;
  display: block;
  color: #fff;
  /* end :hover */
}
header #nav > ul > li > ul > li:hover {
  background: #77af8a;
}
header #nav > ul > li > ul > li:hover a {
  color: #fff;
}
header #nav > ul > li > ul a {
  font-size: 0.85rem;
  padding: 0.5rem 0.2rem;
  color: #fff !important;
  text-align: left;
}
header #nav li:hover ul, header #nav li:hover ol {
  display: block;
  left: 0;
  right: 0;
  opacity: 1;
}
header #nav li:hover ul a, header #nav li:hover ol a {
  display: block;
  transition: 0.8s ease;
}
header .button {
  display: inline-block;
  font-size: 1rem;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #191d7e;
  text-decoration: none;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
header .button:hover {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}
header .search:focus + .searchbutton {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}
header .search {
  position: absolute;
  background-color: white;
  outline: none;
  border: none;
  padding: 0;
  z-index: 10;
  opacity: 0;
  width: 400px;
}
header .search:focus {
  width: 400px;
  right: 73px;
  top: 0;
}
header .expandright {
  left: auto;
  width: 73px;
  height: 50px;
}
header .expandright:focus {
  padding: 0 0 0 16px;
}
header input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin-top: 0;
  border: 0;
  outline: none;
  opacity: 0;
  right: 0;
  /* Safari */
  transition-delay: 0.7s;
}
header input:focus {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  margin-top: 0;
  background: #ddd;
  color: #222;
  font-weight: 600;
  padding: 0;
  border: 0;
  outline: none;
  opacity: 1;
  transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

/* end header */
/* Breadcrumbs */
.breadcrumb {
  padding: 0 5%;
  width: 100%;
  margin-top: 1rem;
}
.breadcrumb ul {
  margin: 1rem 0 0 0;
}
.breadcrumb ul li {
  list-style-type: none;
  display: inline-block;
  color: #222;
  font-size: 0.7rem;
  text-transform: uppercase;
}
.breadcrumb ul li a {
  color: #222;
  text-decoration: none;
}
.breadcrumb ul li a:hover {
  color: #77af8a;
}
.breadcrumb ul li:after {
  content: "▸";
  padding-left: 0.3rem;
}
.breadcrumb h2 {
  font-size: 1.3rem;
  padding: 0.2rem 0;
  margin: 0 0 3rem 0;
  border-bottom: 2px solid #77af8a;
}
.breadcrumb a {
  color: #191d7e;
}
.breadcrumb a:hover {
  opacity: 0.7;
}

/* end .breadcrumbs */
/*** ARTICLE ***/
article {
  text-align: justify;
  float: left;
  width: 100%;
  padding: 0 5%;
  /*ul{
    list-style: none;
    margin-left:-20px;
    li{
      margin-bottom:1rem;
      &:before{
          content: "▪"; 
          color: $primary-color;
          display: inline-block; 
          width: 1rem;
          margin-left: -1rem;
      }
  }
  }*/
  /* end button */
  /*** Modal ***/
  /* end .overlay */
  /* end table.overview */
  /* end table */
  /* Accordion */
  /* end .accordion */
  /* tabs */
  /* end tabs */
  /* tabs */
  /* end .test-tabs */
  /* end form */
  /* end .background */
  /*** Dashboard ***/
  /* end .dasboard */
}
article h2 {
  font-size: 1.2rem;
  padding: 0.2rem 0;
  margin: 2rem 0;
  border-bottom: 3px solid #77af8a;
}
article a {
  color: #191d7e;
}
article a:hover {
  opacity: 0.7;
}
article p {
  padding: 0.5rem 0;
}
article .button {
  padding-top: 3rem;
  float: left;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin: 0 auto;
  background-clip: padding-box;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  /* end a*/
}
article .button a {
  font-family: "Lato", sans-serif;
  padding: 0.5rem 1rem;
  width: 9rem;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  background: #77af8a;
  color: #fff;
  font-size: 0.8rem;
  /* end :hover */
}
article .button a:hover {
  background: #ffdd40;
  color: #222;
  opacity: 1;
}
article .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  overflow: scroll;
  /* end &:target */
  /* end .modal */
}
article .overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 9;
}
article .overlay .modal {
  margin: 70px auto;
  padding: 5% 20px;
  background: #fff;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
  /* end .close */
  /* end .content */
}
article .overlay .modal .close {
  position: absolute;
  top: 1%;
  right: 1%;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  /* end &:hover */
}
article .overlay .modal .close:hover {
  color: #77af8a;
  background: none;
}
article .overlay .modal .content {
  max-height: 30%;
  overflow: auto;
}
article .overlay .modal .content h2 {
  margin: 0;
}
article .overlay .modal .content h3 {
  padding: 1rem 0 0 0;
}
article .overlay .modal .content h3 span {
  color: #b7b7b7;
  font-size: 0.8rem;
}
article .overlay .modal .content h3 span span {
  color: #b7b7b7;
  font-size: 1.2rem;
}
article .overlay .modal .content p {
  border: 1px solid #ddd;
  padding: 3%;
  color: #b7b7b7;
  font-size: 0.9rem;
  margin: 1rem 0 1rem 0;
}
article table.overview {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
}
article table.overview td, article table.overview th {
  text-align: left;
  border-collapse: separate;
  padding: 1rem;
}
article table.overview th {
  border-bottom: 0;
  background: #fff;
  text-align: left;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 1rem;
  font-family: "Lato", sans-serif;
  color: #222;
  text-align: center;
}
article table.overview th:nth-of-type(2) span {
  border-bottom: 5px solid #191d7e;
}
article table.overview th:nth-of-type(3) span {
  border-bottom: 5px solid #77af8a;
}
article table.overview th:nth-of-type(4) span {
  border-bottom: 5px solid #919191;
}
article table.overview th:nth-of-type(5) span {
  border-bottom: none;
}
article table.overview th:nth-of-type(6) {
  text-align: center;
}
article table.overview td {
  background: #fff;
  text-align: center;
  font-size: 2rem;
}
article table.overview td .chart-wrapper ul {
  margin-left: 20px;
}
article table {
  width: 100%;
  border-collapse: collapse;
}
article table td, article table th {
  text-align: left;
  border-collapse: separate;
  padding: 1rem;
}
article table th {
  border-bottom: 5px solid #ffdd40;
  background: #ffdd40;
  text-align: left;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 1rem;
  font-family: "Lato", sans-serif;
  color: #222;
}
article table th:nth-of-type(3) {
  text-align: center;
}
article table th:nth-of-type(3) span {
  border-bottom: 5px solid #191d7e;
}
article table th:nth-of-type(4) {
  text-align: center;
}
article table th:nth-of-type(4) span {
  border-bottom: 5px solid #77af8a;
}
article table th:nth-of-type(5) {
  text-align: center;
}
article table th:nth-of-type(5) span {
  border-bottom: 5px solid #919191;
}
article table th:nth-of-type(6) {
  text-align: center;
}
article table td {
  background: #f7f7f7;
}
article table td:nth-of-type(3), article table td:nth-of-type(4), article table td:nth-of-type(5), article table td:nth-of-type(6) {
  text-align: center;
}
article .chart-wrapper ul {
  list-style-type: none;
  margin-left: -40px;
}
article .chart-wrapper .bar {
  height: 15px;
  margin-bottom: 0;
  background: #191d7e;
  opacity: 0;
  animation: 1s anim-lightspeed-in ease forwards;
}
article .chart-wrapper .bar.self {
  height: 5px;
  margin-bottom: 0;
  background: #77af8a;
  opacity: 0;
}
article .chart-wrapper .bar.public {
  height: 5px;
  margin-bottom: 0;
  background: #919191;
  opacity: 0;
}
article .chart-wrapper span {
  padding-left: 10px;
  line-height: 0;
  color: #191d7e;
  font-size: 0.8rem;
}
@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
article .accordion {
  float: left;
  width: 45%;
  margin-right: 5%;
  border: 1px solid #ddd;
  /* end .group-list */
  /* end .sub-group-list */
  /* Styling third level list items */
  /* end .sub-sub-group-list */
  /* end .group-list, .sub-group-list, .sub-sub-group-list */
  /* end .accordion-list */
}
article .accordion h3 {
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
}
article .accordion a, article .accordion label {
  display: block;
  padding: 0.85rem 1rem;
  transition: all 0.25s ease-in;
}
article .accordion a:focus, article .accordion a:hover, article .accordion label:focus, article .accordion label:hover {
  background: #ffdd40 !important;
  color: #222;
}
article .accordion label {
  cursor: pointer;
  text-align: left;
  font-family: "Lato", sans-serif;
}
article .accordion label span.date {
  margin-left: 2%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
  color: #6f6f6f;
}
article .accordion label span.score {
  margin-right: 5%;
  text-align: right;
  float: right;
}
article .accordion .button {
  margin: 1rem auto;
  padding-top: 0;
  float: initial;
}
article .accordion .button a {
  font-family: "Lato", sans-serif;
  padding: 0.5rem 1rem;
  width: 13rem;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  background: #fff;
  color: #77af8a;
  border: 1px solid #77af8a;
  font-size: 0.8rem;
}
article .accordion .button a:hover {
  opacity: 1;
  background: #ffdd40;
  color: #222;
  border: 1px solid #ffdd40;
}
article .accordion .button.mini {
  float: right;
  width: inherit;
  margin-right: 3%;
}
article .accordion .button.mini a {
  padding: 0.1rem 0.3rem;
  width: inherit;
}
article .accordion ul.accordion-list, article .accordion ul.group-list, article .accordion ul.sub-group-list, article .accordion ul.sub-sub-group-list {
  margin: 0;
  list-style: none;
}
article .accordion ul.accordion-list > li p, article .accordion ul.group-list > li p, article .accordion ul.sub-group-list > li p, article .accordion ul.sub-sub-group-list > li p {
  padding: 1rem;
}
article .accordion ul.accordion-list, article .accordion ul.group-list, article .accordion ul.sub-group-list, article .accordion ul.sub-sub-group-list {
  margin: 0;
  list-style: none;
}
article .accordion ul.accordion-list > li p, article .accordion ul.group-list > li p, article .accordion ul.sub-group-list > li p, article .accordion ul.sub-sub-group-list > li p {
  padding: 1rem;
}
article .accordion ul.sub-group-list > li p {
  padding: 2rem;
}
article .accordion .group-list a, article .accordion .group-list label { /* Styling first level lists items */ }
article .accordion .sub-group-list { /* Styling second level list items */ }
article .accordion .sub-group-list a, article .accordion .sub-group-list label {
  padding-left: 4rem;
  background: #ddd;
}
article .accordion .sub-group-list a:focus, article .accordion .sub-group-list a:hover, article .accordion .sub-group-list label:focus, article .accordion .sub-group-list label:hover {
  background: #ddd;
}
article .accordion .sub-sub-group-list a, article .accordion .sub-sub-group-list label {
  padding-left: 6rem;
  background: #454545;
  box-shadow: inset 0 -1px #575757;
}
article .accordion .sub-sub-group-list a:focus, article .accordion .sub-sub-group-list a:hover, article .accordion .sub-sub-group-list label:focus, article .accordion .sub-sub-group-list label:hover {
  background: #bababa;
}
article .accordion .group-list,
article .accordion .sub-group-list,
article .accordion .sub-sub-group-list { /* Hide nested lists*/
  height: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
article .accordion .accordion-list {
  /* end input[type=checkbox] */
}
article .accordion .accordion-list li {
  border-top: 1px solid #ddd;
  /*last-child{
              border-bottom:0;
          }*/
}
article .accordion .accordion-list input[type=checkbox] {
  /* end &:checked + label */
}
article .accordion .accordion-list input[type=checkbox]:checked + label {
  /* end +ul */
  /* end span */
  /* end &.check */
}
article .accordion .accordion-list input[type=checkbox]:checked + label + ul { /* reset the height when checkbox is checked */
  max-height: 1000px;
  border: 3px solid #ffdd40;
}
article .accordion .accordion-list input[type=checkbox]:checked + label > span {
  transform: rotate(45deg);
}
article .accordion .accordion-list input[type=checkbox]:checked + label > span.score {
  transform: rotate(0deg);
}
article .accordion .accordion-list input[type=checkbox]:checked + label.check {
  background: #ffdd40;
  color: #222 !important;
  border: 0 !important;
}
article .accordion .accordion-list input[type=checkbox]:checked + label.check:before, article .accordion .accordion-list input[type=checkbox]:checked + label.check:after {
  transform: rotate(90deg);
}
article .accordion .accordion-list input[type=checkbox]:checked + label.check:before {
  display: none;
}
article .accordion .accordion-list input[type=checkbox] label > span { /* Rotating chevron icon */
  float: right;
  transition: transform 0.65s ease;
}
article .accordion .accordion-list input[type=checkbox] + label.check { /** Plus icon **/
  position: relative;
}
article .accordion .accordion-list input[type=checkbox] + label.check:before, article .accordion .accordion-list input[type=checkbox] + label.check:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  background-color: black;
  top: 50%;
  transition: transform 0.65s ease;
}
article .accordion .accordion-list input[type=checkbox] + label.check:after {
  width: 10px;
  height: 8px;
  margin-top: -4px;
  right: 23px;
  width: 2px;
}
article .accordion .accordion-list input[type=checkbox] + label.check:before {
  height: 2px;
  margin-top: -1px;
  right: 10px;
  width: 8px;
}
article .accordion .accordion-list input[type=checkbox] + label.check:hover {
  background: #f7f7f7;
}
article section {
  display: none;
  padding: 20px 0 0;
}
article input {
  display: none;
}
article input:checked + label {
  color: #fff !important;
  border-bottom: 3px solid #77af8a;
}
article label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
}
article label[for=tab1], article label[for=tab2] {
  color: #aaaaaa !important;
}
article label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
article label:hover {
  color: #888;
  cursor: pointer;
}
article #tab1:checked ~ #content1,
article #tab2:checked ~ #content2,
article #tab3:checked ~ #content3,
article #tab4:checked ~ #content4 {
  display: block;
}
article .test-tabs section {
  padding: 20px 0 0;
  display: block;
}
article .test-tabs input:checked + label {
  color: #fff !important;
  border-bottom: 3px solid #77af8a;
}
article .test-tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
}
article .test-tabs label[for=tab1], article .test-tabs label[for=tab2] {
  color: #aaaaaa !important;
}
article .test-tabs label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
article .test-tabs label:hover {
  color: #888;
  cursor: pointer;
}
article .test-tabs #tab1:checked ~ #content1,
article .test-tabs #tab2:checked ~ #content2,
article .test-tabs #tab3:checked ~ #content3,
article .test-tabs #tab4:checked ~ #content4 {
  display: block;
}
article form {
  margin: 0 auto;
  width: 40%;
  padding: 5%;
  background: #fff;
  text-align: center;
  /* end input */
  /* end button */
}
article form h2 {
  margin: 0 0 1rem 0;
}
article form ul {
  text-align: left;
  margin: 0 0 1rem 0;
  background: #ddd;
  font-size: 0.8rem;
  padding: 0.5rem;
}
article form ul li {
  margin-left: 20px;
}
article form label {
  text-align: left;
  display: block;
  padding: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #222;
}
article form label span {
  display: block;
  font-size: 0.8rem;
  text-transform: initial;
}
article form span {
  font-size: 0.8rem;
  text-align: left;
}
article form input {
  width: 100%;
  border: 1px solid #ddd;
  background: #fff;
  margin: 0 0 0.5rem;
  padding: 1rem;
  display: block;
  box-sizing: border-box;
}
article form input[type=checkbox] {
  display: inline-block;
  width: 20px;
}
article form button {
  width: 100%;
  background: #ffdd40;
  outline: 0;
  border: 1px solid #ffdd40;
  padding: 1rem 0;
  margin: 0 auto;
  cursor: pointer;
  display: block;
  /* end .grayed */
}
article form button:hover {
  background: #f3c700;
}
article form button.grayed {
  background: #ddd;
  border: 1px solid #ddd;
  /* end :hover */
}
article form button.grayed:hover {
  background: #b7b7b7;
}
article form button a {
  display: block;
  text-decoration: none;
  color: #222;
}
article form div {
  margin: 1rem 0;
}
article form div a {
  font-size: 0.9rem;
}
article.background {
  background: #191d7e;
  padding: 2.5% 0;
  margin: 0 5%;
  box-sizing: border-box;
  width: 90%;
  text-align: center;
}
article .dashboard {
  padding: 0 2.5%;
  /* end section */
}
article .dashboard label {
  background: #fff;
  width: 20%;
  display: block;
  color: #222 !important;
}
article .dashboard input:checked + label {
  color: #222 !important;
  background: #ffdd40;
  border: none;
}
article .dashboard section {
  background: #fff;
  margin-left: 20%;
  float: left;
  padding: 0 5%;
  margin-top: -12.25rem;
  /* end button */
  /* end .section */
  /* end form */
}
article .dashboard section h2 {
  margin: 1rem 0 3rem 0 !important;
  text-align: left !important;
}
article .dashboard section button {
  /* end .mini */
}
article .dashboard section button.mini {
  float: right;
  width: initial;
  margin: 1rem 0;
  padding: 0.3rem 0.9rem;
  background: none;
  border: 1px solid #77af8a;
  color: #77af8a;
}
article .dashboard section button.mini:hover {
  background: #ffdd40;
  color: #222;
  border: 1px solid #ffdd40;
}
article .dashboard section .sub-section {
  border-bottom: 1px solid #ddd;
  padding: 1rem 0 0.5rem 0;
  float: left;
}
article .dashboard section form {
  width: 100% !important;
  padding: 0 !important;
}
article .dashboard section form label {
  float: left;
  width: 30%;
  margin-right: 5%;
}
article .dashboard section form input {
  float: left;
  width: 65%;
}

/* end .article */
/*** FOOTER ***/
footer {
  background: #3c3c3c;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  float: left;
  width: 100%;
  margin-top: 4rem;
  color: #fff;
}
footer a {
  text-decoration: none;
  color: #77af8a;
}
footer a:hover {
  opacity: 0.7;
}
footer p {
  font-size: 0.7rem;
}
footer ul {
  margin-left: -40px;
}
footer ul li {
  list-style-type: none;
  display: inline-block;
}
footer ul li img {
  height: 5vw;
  max-height: 5rem;
  min-height: 3rem;
  display: inline-block;
  margin: 0 1rem 1rem 1rem;
}
footer ul li img:hover {
  opacity: 0.8;
}

/* end footer */
@media screen and (max-width: 750px) {
  /*** HEADER ***/
  header {
    position: fixed;
    width: 100%;
    height: 7rem;
    z-index: 1;
    /* end .logo */
  }
  header .logo {
    position: relative;
    z-index: 0;
    float: left;
  }
  header .logo img {
    width: 5rem;
  }
  header #nav {
    top: 0;
    z-index: 2;
    width: 100%;
  }
  header #nav > a {
    width: 100%;
    height: 4.125rem;
    text-align: right;
    position: absolute;
    font-size: 1.5rem;
    top: 0;
    color: #222;
    right: 0;
    width: 10%;
    padding: 0.8rem 1rem 0 0;
    transition: 1.6s ease;
  }
  header #nav:not(:target) > a:first-of-type,
  header #nav:target > a:last-of-type {
    display: block;
    color: #191d7e;
    text-decoration: none;
  }
  header #nav:not(:target) > a:first-of-type.hide-nav,
  header #nav:target > a:last-of-type.hide-nav {
    color: #fff;
    z-index: 2;
  }
  header #nav > ul {
    height: auto;
    display: none;
    position: absolute;
    width: 100%;
    margin-left: 0;
    background: #191d7e;
    height: 100vh;
  }
  header #nav > ul > li {
    width: 100%;
    float: left;
    margin: 0;
    display: block;
    background-color: #191d7e;
  }
  header #nav > ul > li:hover {
    background-color: #111353;
  }
  header #nav > ul > li:hover a {
    color: #fff;
  }
  header #nav > ul > li > a {
    height: auto;
    text-align: left;
    padding: 0.3rem 1rem;
    transition: none;
    color: #fff;
  }
  header #nav:not(:target) > ul {
    display: block;
    transition: 0.5s ease;
    top: 0;
    right: -1000%;
  }
  header #nav:target > ul {
    display: block;
    transition: 0.5s ease;
    top: 0;
    right: 0;
  }
  /* end header */
  article {
    /* end table */
  }
  article table th {
    display: none;
  }
  article table td {
    display: block;
    padding: 0.5rem 0;
    text-align: left;
  }
  article table tr {
    margin: 0.25rem 1rem;
    padding: 0.5rem 0;
    display: block;
    border-bottom: 2px solid #FFC842;
  }
  article table td:before {
    content: attr(data-heading);
    display: inline-block;
    width: 50%;
    margin-right: 0.5rem;
    color: #999;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  /* end article */
  footer {
    padding: 0 0 1rem 0;
    font-size: 0.8rem;
  }
  footer p {
    font-size: 0.6rem;
  }
  footer ul li img {
    margin: 0 0.2rem 0.2rem 0.2rem;
    height: 9vw;
  }
  /* end footer */
} /* end @media screen and (max-width: 680px) *//*# sourceMappingURL=style.css.map */